<div class="colors">
  <ul class="key"><span class="header">Keg Color Key</span>
    <li class="white">White = full</li>
    <li class="green">Green = 75% remaining</li>
    <li class="orange">Orange = 50% remaining</li>
    <li class="red">Red = 20% remaining</li>
  </ul>
</div>
<div class="container test">
<select (change)="onChange($event.target.value)" class="filter">
  <option value="all" selected="selected">Show All Taps</option>
  <option value="low">Show Low Taps</option>
  <option value="notLow">Show Full Taps</option>
</select>
<h3 class="test test2">Beers on Tap</h3>
<tap-display *ngFor="#currentTap of tapList | low:filterLow:selectedTap"
  (click) = "tapClicked(currentTap)"
  [class.selected]="currentTap === selectedTap"
  [tap]="currentTap">
</tap-display>
<edit-tap-pints *ngIf="selectedTap"[tap]="selectedTap">
</edit-tap-pints>
<new-tap (onSubmitNewTap)="createTap($event)"></new-tap>
</div>
