h1, h3 {
  color: white;
}
.selected {
  font-size: 50px;
}
select {
  width: 150px;
}

.tap-form {
  margin-top: 10px;
  margin-bottom: 10px;
}
.add-button {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.right-button {
  margin-left: 50%;
}
.filter {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  font-size: 20px;
  color: white;
}
ul:hover {
  cursor: crosshair;
}
.jumbotron {
  text-align: center;
background-color: rgba(0, 0, 0, 0.5);;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.first {
  padding-left: 200px;
}
body {
background-image: url(https://images8.alphacoders.com/413/413078.jpg);
background-repeat: no-repeat;
background-size: cover;

}
.test {
  padding-left: 200px;
}
.test2 {
  text-decoration: underline;
  padding-left: 175px;
  font-size: 50px;
}
.red {
  color: red;
}
.green {
  color: green;
}
.white {
  color: white;
}
.orange {
  color: orange;
}
.tap-create {
  padding-left: 20px;
}
.key {
  color: white;
}
.colors {
  border: 1px solid white;
  width: 200px;
  float: right;
}
.header {
  text-decoration: underline;
}
li.colors {
  margin-left: 100px;
}
ul.key {
  padding-left: 30px;
}
